@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.background {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.firstColorBlock {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom right, #751fd3 40%, #7441da  30%);
  display: flex;
  justify-content: space-around;
  position: absolute;
}
#myWebNow {
  padding-left: 30px;
}
#home {
  margin-left: 450px;
}
.btn {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: #7ed496;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 16px;
}
.secondColorBlock {
  margin-top: 100px;
  display: flex;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom right, #7441da  75%, #736be2 20%);
  align-items:  center;
  flex-direction: column;
}
.secondColorBlock h1 {
  text-align: center;
}
.secondColorBlock h1 span {
  color: #7ed496;
}
/* .secondColorBlockRight {
  margin-top: 100px;
  margin-left: 80%;
  display: flex;
  width: 50%;
  height: 150px;
  background: linear-gradient(to bottom right, #7441da  50%, #736be2 10%);
  position: absolute;
  flex-direction: column;
} */
.search {
  flex-direction: row;
  margin-top: 0;
}
#input {
padding: 5px;
border: none;
border-radius: 5px;
margin-top: 0;
font-size: 16px;
width: 230px;
height: 30px;
}
.btnSearch {
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #7ed496;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 16px;
  width: 100px;
}
.thirdColorBlock {
  display: flex;
  background: linear-gradient(to bottom right,  #736be2   50%, white 30%);
  height: 100px;
  width: 50%;
  position: absolute;
  margin-top: 350px;
  margin-left: 50%;
  justify-content: flex-start;
}
.thirdColorBlock h5 {
  margin-top: 40px;
  /* margin-right: 300px; */
}
.fourthColorBlock {
  display: flex;
  background: linear-gradient(to bottom right,  #7441da  50%, #736be2 30%);
  height: 100px;
  width: 50%;
  justify-content:  flex-end;
  position: absolute;
  margin-top: 350px;
}
.fourthColorBlock h5 {
  margin-top: 40px;
  margin-right: 5px;
}
.fifthColorBlock {
  display: flex;
  background: linear-gradient(to bottom right, #736be2   50%, white 30%);
  height: 100px;
  width: 50%;
  position: absolute;
  margin-top: 450px;
  z-index: -1;
}
.fourthColorBlock img {
  margin-top: 70px;
  background-color: #7ed496;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  position: fixed;
  border-radius: 25px;
}
.createAccount {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 550px;
  color: black;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}
.createAccount button {
  border: none;
  border-radius: 5px;
  height: 20px;
  background-color: #736be2;
  font-size: 16px;
  width: 200px;
  margin-left: 28%;
}
.createAccount h2 {
  height: 10px;
  margin-top: 50px;
}
.createAccount svg {
  height: 1px;
  margin-top: 0;
  margin-left: 45%;
}
.gridContainers {
  height: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  max-width: 80%;
  justify-content: space-around;
  margin-top: 770px;
  position: absolute;
  margin-left: 12%

}
.gridContainers > div  {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
  color: black;
  border-style: solid;
  border-color: #f3f3f6;
  background-color: #fcfcfd;
  /* min-height: 150px; */
  border-radius: 10px;
  /* flex-wrap: wrap; */
}
.gridContainers > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.gridContainers img {
  max-width: 25%;
  vertical-align: middle;
  /* margin-top: 3%; */
}
.container {
  height: 40%;
  flex-wrap: wrap;
  display: flex;
  width: 50%;
  justify-content: center;
  /* margin: 5px; */
  flex-direction: row;
  /* position: absolute; */
 }
 .container img {
   flex-wrap: wrap;
   flex-direction: row;
   vertical-align: text-top;
   /* flex: 1; */
   max-height: 50%;
 }
.container h5 {
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  flex-direction: row;
  /* flex: 2 ; */
  flex-basis: 100%;
  margin-top: 15%;
  width: 60%;
}
.container p {
  color: #cfced8;
}
/* .gridContainers h5 {
  display: flex;
  flex-direction: column;
 } */

/* .gridContainers p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: 20%; */
/* } */

.miniArrow {
  /* margin-top: 5px; */
  vertical-align: middle;
 }

.bottomColorBlock {
  flex-wrap: wrap;
  display: flex;
  background: linear-gradient(to bottom right, white  30%, #f6f9fc 30%);
  height: 300px;
  width: 100%;
  position: absolute;
  margin-top: 1000px;
  z-index: -1;
  color: #a6a3ec;
}
.leftBottomColorBlack {
  margin-left: 20%;
  margin-top: 10%;
  height: 30%;

}
#h3DarkerPurple {
  color: #7965b4;
}
.rightBottomColorBlock {
  display: flex;
  margin-left: 12%;
  margin-top: 15%;
  width: 25%;
  /* flex-direction: row; */
  /* justify-content: flex-end; */
}
.btnAccount {
  border: none;
  border-radius: 5px;
  height: 30px;
  background-color: #736be2;
  font-size: 16px;
  color: white;
  margin-right: 5%;
  width: auto;
}
.btnContact {
  border: none;
  border-radius: 5px;
  height: 30px;
  font-size: 16px;
  /* margin-left: 70%; */
  /* max-width: 40%; */
}
.footer {
  background-color: #736be2;
  width: 100%;
  height: 300px;
  display: flex;
  position: absolute;
  align-self: baseline;
  margin-top:110%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer img {
  max-width: 12%;
  vertical-align: text-top;
}
.column {
  flex: 1 1 16%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  justify-content: space-between;
  /* align-self: flex-start; */
}
.column span {
  font-weight: bold;
  align-self: flex-start;
}
.column p {
  font-weight: normal;
}
#address{
  text-indent: -1.5em;
}
.footerIcon {
  padding-right: 5px;
  /* justify-content: flex-start; */
}
.columnIcon {
  justify-content: flex-start;
}
